.header {
    // height: 100px;
    background-color: #f5f5f5;
    padding: 0 5px 5px 5px;
    .headerContainer {
        background-color: #ffffff;
        .logo {
            height: 40px;
        }
    }
}