.header {
    padding: 0 5px 5px 5px;
    .headerContainer {
        background-color: #faf8f8;
        .logo {
            height: 40px;
        }
    }
    .iconPannel{
        .prfileIcon{
            font-size: 14px;
        }
    }
}