.cardContainer {
    width: 30%;
    display: inline-block;
    border-radius: 2px;
    .cardContent {
        .itemImage {
            height: 150px;
            width: 150px;
        }
    }
}
@media(max-width: 570px) {
    .cardContainer {
        display: block;

        .cardContent {
            .itemImage {
                height: 200px;
                width: 200px;
            }
        }
    }
}