<div *ngIf="isLoading">
    <app-loader/>
</div>
<!-- <div *ngIf="apiFailed">
    Api issue please reload
</div> -->
<ng-container *ngIf="!isLoading">
<div class='cardContainer' *ngFor="let item of itemList; index as index">
    <div class='cardContent' (click)="productDetail(index)">
        <img class='itemImage' [src]='item.image' matTooltip={{index}}>
        <div>
            {{item.title | slice:0:20}}...
        </div>
        <div>
            Price {{item.price -10 | currency: 'GBP'}}
            <del>{{item.price}}</del>
        </div>
    </div>
</div>
</ng-container>